@media print {
    @page {
        size: 58mm 74mm;  /* or size: 794px 1123px;   */
        size: 297mm 420mm;  /* or size: 1123px 1588px;  */
    }
    @page :left{
        margin-right:5mm;
    }
    @page :right{
        margin-left:5mm;
    }
    *{
        color:#000;
    }
    button{
        border:1px solid #000;
    }
    .Registration-table-edit {
        border: 1px solid #000;
        border-collapse: collapse;
    }
    
    .Registration-table-edit tr{
        height: 20px;
        line-height: 20px;
    }
    
    .Registration-table-edit-title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height:35px;
    }
    
    .Registration-table-edit-fristrow, .Registration-table-edit-secondrow {
        width: 16.32%;
        min-width: 62px;
        height: 10px;
    }
    
    .Registration-table-edit-otherrow {
        width: 12.11%;
        min-width: 46px;
        height: 10px;
    }
    
    .Registration-table-edit-lastrow {
        width: 7.37%;
        min-width: 28px;
        height: 10px;
    }
    
    .Registration-table-edit-label {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    
    .Registration-table-edit-input {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-indent:1em;
    }
    
    .Registration-table-edit-input-gender {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    
    .Registration-table-edit-input-number {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    
    .Registration-table-edit-remark {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        padding: 3px 5px;
        display: inline-block;
    }
    
    .Registration-table-edit-opertion {
        padding-top: 6px;
        text-align: right;
    }
    .Registration-table-edit-opertion,.Registration-table-edit-opertion{
        display:none;
    }
    .Registration-print-noborder{
        border:0 none;
    }
    .Registration-print-noborder td{
        border:0 none;
    }
    td{
        padding:2px 0;
        color:#000;
        border:1px solid #000;
    }
    label{
        color:#000;
    }
    .Registration {
        width: 280px;
        min-width:280px;
        text-align: center;
        margin:10px auto
    }
    
    /* CSS for edit function*/
    .Registration-table-edit {
        border: 0 none;
        border-collapse: collapse;
    }

    .Registration-table-edit tbody{
        border:1px solid #000;
    }
    
    .Registration-table-edit tr{
        height: 20px;
        line-height: 20px;
    }
    
    .Registration-table-edit-title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height:35px;
        letter-spacing: 0.1em;
        color:#000;
    }
    
    .Registration-table-edit-fristrow, .Registration-table-edit-secondrow {
        width: 13%;
        /* min-width: 50px; */
        height: 10px;
    }
    
    .Registration-table-edit-otherrow {
        width: 10%;
        /* min-width: 40px; */
        height: 10px;
    }
    
    .Registration-table-edit-lastrow {
        width: 10%;
        /* min-width: 23px; */
        height: 10px;
    }
    
    .Registration-table-edit-label {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    
    .Registration-table-edit-input {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-indent:1em;
    }
    
    .Registration-table-edit-input-gender {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        display:inline-block;
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        -ms-appearance:none;
        text-align: center;
        text-align-last: center;
    }
    select::-ms-expand{
        display:none;
    }
    
    .Registration-table-edit-input-number {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    
    .Registration-table-edit-remark {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        padding: 3px 5px;
        display: inline-block;
    }
    
    .Registration-table-edit-opertion {
        padding-top: 6px;
        text-align: right;
    }
    
    .btn:hover{
        cursor: pointer;
    }
    
    .btn {
        padding:0;
        border:0 none;
        width: 64px;
        height: 24px;
        margin: 0px auto
    }
    
    .Registration-btn-print {
        margin-left: 22px;
        padding:3px 5px;
    }
    
    .Registration-btn-reset {
        margin-left: 12px;
        margin-right: 0px;
        padding:3px 5px;
    }
    
    .Registration-btn-readcert {
        margin-left: 22px;
        margin-bottom: 6px;
        padding:3px 5px;
    }
    
    .Registration-btn-exportvisit {
        margin-left: 12px;
        margin-bottom: 6px;
        padding:3px 5px;
    }
    
    .test-center{
        text-align:center;
        text-indent:0;
    }
}

