/* base style */
* {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  outline: none;
  color:#000;
}
body, button, input, select, textarea {
  font: 9pt/1.5 'Microsoft YaHei UI', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  color: #000;
  vertical-align: middle;
  word-wrap: break-word;
  outline: none;
  -webkit-text-size-adjust: none;
}
html,body {
  background: #fff;
  -webkit-tap-highlight-color: #000;
  margin: 0;
  height: 100%;
}
button{
  border:1px solid #000;
  border-color:#000;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}
ul, li {
  list-style: none
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #010066;
  text-decoration: underline;
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
em {
  font-style: normal
}
legend {
  color: #000
}
fieldset, img {
  border: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
label{
  color:#000;
}
caption, th {
  text-align: left
}
th {
  text-align: inherit
}
img {
  vertical-align: top;
  border: 0 none
}
textarea {
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  _zoom: 1
}
input {
  line-height: 1.2em;
  overflow: hidden;
  _zoom: 1;
  color:#000;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
q:before, q:after {
  content: ''
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clear {
  *zoom: 1;
}
*:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* style start */

td{
  padding:5px 0;
}
.Registration {
  width: 360px;
  text-align: center;
  margin: 40px auto
}

/* CSS for edit function*/
.Registration-table-edit {
  border: 1px solid #000;
  border-color:#000;
  border-collapse: collapse;
}

.Registration-table-edit tr{
  height: 20px;
  line-height: 20px;
}

.Registration-table-edit-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height:35px;
}

.Registration-table-edit-fristrow, .Registration-table-edit-secondrow {
  width: 16.32%;
  min-width: 62px;
  height: 10px;
}

.Registration-table-edit-otherrow {
  width: 12.11%;
  min-width: 46px;
  height: 10px;
}

.Registration-table-edit-lastrow {
  width: 7.37%;
  min-width: 28px;
  height: 10px;
}

.Registration-table-edit-label {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
 }

.Registration-table-edit-input {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  text-indent:1em;
}

.Registration-table-edit-input-gender {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.Registration-table-edit-input-number {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.Registration-table-edit-remark {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  padding: 3px 5px;
  display: inline-block;
}

.Registration-table-edit-opertion {
  padding-top: 6px;
  text-align: right;
}

.btn:hover{
  cursor: pointer;
}

.btn {
  padding:0;
  border:0 none;
  width: 64px;
  height: 24px;
  margin: 0px auto
}

.Registration-btn-print {
  margin-left: 22px;
  padding:3px 5px;
}

.Registration-btn-reset {
  margin-left: 12px;
  margin-right: 0px;
  padding:3px 5px;
}

.Registration-btn-readcert {
  margin-left: 22px;
  margin-bottom: 6px;
  padding:3px 5px;
}

.Registration-btn-exportvisit {
  margin-left: 12px;
  margin-bottom: 6px;
  padding:3px 5px;
}

.test-center{
  text-align:center;
  text-indent:0;
}

/* CSS for print function*/
/* 
.Registration-table-print {
  border: 1px solid #000;
  border-collapse: collapse;
}

.Registration-table-print tr{
  height: 14px;
  line-height: 14px;
}

.Registration-table-print-title {
  height: 32px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.Registration-table-print-fristrow, .Registration-table-print-secondrow {
  width: 48px;
  min-width: 48px;
  height: 10px;
}

.Registration-table-print-otherrow {
  width: 32px;
  min-width: 32px;
  height: 10px;
}

.Registration-table-print-lastrow {
  width: 18px;
  min-width: 18px;
  height: 10px;
}

.Registration-table-print-label {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.Registration-table-print-input {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.Registration-table-print-input-gender {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.Registration-table-print-input-number {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.Registration-table-print-remark {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
} */
