@media print {
    @page {
        size: 210mm 297mm;  /* or size: 794px 1123px;   */
        size: 297mm 420mm;  /* or size: 1123px 1588px;  */
    }
    .Registration-table-edit-opertion,.Registration-table-edit-opertion{
        display:none;
    }
    .Registration-print-noborder{
        border:0 none;
    }
    .Registration-print-noborder td{
        border:0 none;
    }
    td{
        padding:5px 0;
    }
    .Registration {
        width: 296px;
        min-width:296px;
        text-align: center;
        margin:10px auto
    }
    
    /* CSS for edit function*/
    .Registration-table-edit {
        border: 0 none;
        border-collapse: collapse;
    }

    .Registration-table-edit tbody{
        border:1px solid #999;
    }
    
    .Registration-table-edit tr{
        height: 20px;
        line-height: 20px;
    }
    
    .Registration-table-edit-title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height:35px;
    }
    
    .Registration-table-edit-fristrow, .Registration-table-edit-secondrow {
        width: 16.32%;
        min-width: 62px;
        height: 10px;
    }
    
    .Registration-table-edit-otherrow {
        width: 12.11%;
        min-width: 46px;
        height: 10px;
    }
    
    .Registration-table-edit-lastrow {
        width: 7.37%;
        min-width: 28px;
        height: 10px;
    }
    
    .Registration-table-edit-label {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }
    
    .Registration-table-edit-input {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-indent:1em;
    }
    
    .Registration-table-edit-input-gender {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        display:inline-block;
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        text-align: center;
        text-align-last: center;
    }
    
    .Registration-table-edit-input-number {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
    
    .Registration-table-edit-remark {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        padding: 3px 5px;
        display: inline-block;
    }
    
    .Registration-table-edit-opertion {
        padding-top: 6px;
        text-align: right;
    }
    
    .btn:hover{
        cursor: pointer;
    }
    
    .btn {
        padding:0;
        border:0 none;
        width: 64px;
        height: 24px;
        margin: 0px auto
    }
    
    .Registration-btn-print {
        margin-left: 22px;
        padding:3px 5px;
    }
    
    .Registration-btn-reset {
        margin-left: 12px;
        margin-right: 0px;
        padding:3px 5px;
    }
    
    .Registration-btn-readcert {
        margin-left: 22px;
        margin-bottom: 6px;
        padding:3px 5px;
    }
    
    .Registration-btn-exportvisit {
        margin-left: 12px;
        margin-bottom: 6px;
        padding:3px 5px;
    }
    
    .test-center{
        text-align:center;
        text-indent:0;
    }
    
    /* CSS for print function*/
    
    .Registration-table-print {
        border: 1px solid #999;
        border-collapse: collapse;
    }
    
    .Registration-table-print tr{
        height: 14px;
        line-height: 14px;
    }
    
    .Registration-table-print-title {
        height: 32px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
    
    .Registration-table-print-fristrow, .Registration-table-print-secondrow {
        width: 48px;
        min-width: 48px;
        height: 10px;
    }
    
    .Registration-table-print-otherrow {
        width: 32px;
        min-width: 32px;
        height: 10px;
    }
    
    .Registration-table-print-lastrow {
        width: 18px;
        min-width: 18px;
        height: 10px;
    }
    
    .Registration-table-print-label {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }
    
    .Registration-table-print-input {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
    
    .Registration-table-print-input-gender {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
    
    .Registration-table-print-input-number {
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
    
    .Registration-table-print-remark {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }

}

